body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fontcontainer {
    margin-left: 50px;
    width: 940px;
}

.Roboto {
    font-family: Roboto;
}

.Orange {
    color: #E95719;
}

.seporator {

}