body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Roboto;
}

.fontcontainer {
    margin-left: 120px;
    width: 940px;
}

.Roboto {
    font-family: Roboto;
    font-weight: normal;
}

.Orange {
    color: #E95719;
    font-family: Roboto;
    margin-top: 70px;
}

.examplescontainer {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enter {
    width: 70px;
    height: 30px;
    background-color: #C4C4C4;
    color: black;
    font-family: Archivo;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
}

.enter:hover, .linkbutton:hover{
    border: #545454 1px solid;
}

.linkbutton {
    width: 300px;
    height: 50px;
    background-color: #C4C4C4;
    color: black;
    font-family: Archivo;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}

.divider {
    align-self: center;
    border:none;
    border-top: 2px dashed #545454;
    width: 90%
}